body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-color: #000000; 
}
button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#fimose {
    width: 500px; 
    height: 500px; 
    object-fit: cover; 
    border-radius: 10px; 
}